.cart-card {
    display: flex;
    text-align: center;
    width: 100%;
    max-height: 20vh;
    height: 25vh;
    margin-left: 10px;
    margin-bottom: 5vh;
    box-shadow: 10px 20px 20px 10px lightgray;
    overflow-y: auto;
    outline: none;
    border: none;
}

.cart-card:hover {
    border: 1px solid green;
}

.cart-card div {
    margin: auto;
}

#card-img {
    max-height: 20vh;
    max-width: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

#card-img img {
    width: 8rem;
}

.card-info {
    width: 200px;
    max-height: 20vh;
    max-width: 10vw;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

.remove-button button{
    background-color: #d9534f;
    color:white;
}

.checkout{
    max-height: 25vh;
    overflow-y: auto;
}

.checkout:hover {
    border: 1px solid green;
}

.checkout-button {
    width: 100%;
    background-color: green;
    color:white;
}

.item-price-info {
    width: 100%;
    display: flex;
}

.item-price-info div {
    margin: auto;
}

/* .item-price-info .move-left {
    float: left;
} */
/* 
.item-price-info .move-right {
    margin-left: 2vw;

} */

/* .item-shipping {
     display: inline-block 
}

.item-total {
    display: inline-block
} */





