.cart-card {
    display: inline-flex;
    width: 100%;
    max-height: 20vh;
    margin-left: 10px;
    margin-bottom: 5vh;
    box-shadow: 10px 20px 20px 10px lightgray;
    outline: none;
    border: none;
}

.card-img {
    max-height: 20vh;
    max-width: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-info {
    width: 200px;
    max-height: 20vh;
    margin-top: 10px;
    overflow-y: auto;
}

.checkout-button {
    width: 100%;
    background-color: green;
}

.item-price-info {
    width: 100%;
    display: inline-flex

}
.item-price-info .move-left {
   
    /* margin-right: 10vw; */
    float: left;
}

.item-price-info .move-right {
    /* margin-right: 10vw; */
    margin-left: 24vw;

}

/* .item-shipping {
     display: inline-block 
}

.item-total {
    display: inline-block
} */





