.cart-card {
    display: flex;
    text-align: center;
    margin: 20px;
    border: 1px solid gray;
}

.card-img {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 20px
}

.card-info {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 20px
    
}

