.home-container {
    display: block;
    width: 80vw;
    margin:auto;
    height: 100vh;
}

.head{
    height: 10vh;
    width: 100%;
    margin:auto;
}

.nar-bar {
    width: 100%;
    margin-top: 10px;
    height: 7vh;
    margin:auto;
}

.bottom{
    margin-top: 10px;
}