/* .landing-image{
 width:100vw;
 height:100vh;
 z-index: -2;
 position: absolute;
} */

/* .black{
    height:100vh;
    width:200vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: -1;
} */

.absolute{
    /* position:fixed; */
}

.landing-header{
    z-index: 1;
    margin:auto;
    text-align: center;
}
.landing-header a{
    width: 10vw;
    position: absolute;
    left: 46%;
    top: 20%;
    z-index: 4;
    font-weight: 600;    
}
.landing-header a:hover {
    animation: 2s infinite moveHand;
}

@keyframes moveHand{
    0%{transform: translateX(0px)}
    50%{transform: translateX(10px)}
    100%{transform: translateX(0px)}
}

.landing-header h1{
    z-index: 4;    
    color: white;
    position: absolute;
    font-size: 250%;
    left: 40%;
    top: 13%;
    text-transform: uppercase;
    font-weight: 400;
}

.landing-header img{
    z-index: -2;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    filter: saturate(0.2) brightness(40%);
}